<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="head-css">
	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet"  type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</div>	
</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="cliente-list">Cliente</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="usuario-list">Usuario</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="mascota-list">Perritos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Sign Out</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>